body {
    text-align: center;
    background-color: pink;
}

p {
    font-size: 20px;
    color: red;
    font-style: italic;
}

img {
    height: 200px;
    margin: 50px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 70px;
}

a {
    margin-right: 30px;
}

#img_box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#ps {
    font-size: 16px;
    color: black;
}

#bottomdiv {
    background-color: plum;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

#liuyan {
    position: fixed;
    overflow: scroll;
    left: 5%;
    top: 27% ;
    width: 500px;
    height: 300px;
    border: 3px solid plum;
    text-align: left;
    
}

#liuyantext {
    margin-left: 30px;
}

#flex {
    display: flex;
    align-items: center;
}

#tfbtn {
    margin: 20px;
}

#bobbtn {
    margin-left: 20px;
}

#centerbtn {
    text-align: center;
}
/* <!-- HTML !-->
<button class="button-1" role="button">Button 1</button> */

/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}