body {
    text-align: center;
    background-color: pink;
}

p {
    font-size: 20px;
    color: red;
    font-style: italic;
}

img {
    height: 200px;
    margin: 50px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 70px;
}

a {
    margin-right: 30px;
}

#img_box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#ps {
    font-size: 16px;
    color: black;
}

#bottomdiv {
 background-color: plum;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}