body {
    margin:0; 
    padding:0;
    background-color: #1E1E1E; 
}

h1 {
    color: blue;
}

#img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}